/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.background{
	-fx-background-image: url("assets/images/background.png") ;
	-fx-background-size: cover;
    -fx-background-position: center;
}

.root{
	-fx-dark-primary-color: "1A535C";
	-fx-light-primary-color: "0C7489";
	-fx-secondary-color: "BBB5BD";
}

.header-one, #seed, #sync, #loginSeed, #loginSync{
	-fx-font-family: "Bebas Neue";
	-fx-font-size: 18px;
}

#loginSeed, #loginSync{
	-fx-font-size: 30px;
}

.header-two, Label{
	-fx-font-family: "Inter";
	-fx-font-size: 12px;
}

.header-three{
	-fx-text-fill: "Red";
	-fx-font-size: 10px;
	-fx-opacity: 0;
}

.header-four{
	-fx-font-family: "Inter";
	-fx-text-fill: "Black";
	-fx-opacity: 0.50;
	-fx-font-size: 10px;
}

.header-five{
	-fx-font-family: "Inter";
	-fx-text-fill: -fx-light-primary-color;
	-fx-font-size: 10px;
}

.header-six{
	-fx-font-family: "Inter";
	-fx-text-fill: "Black";
	-fx-font-size: 28px;
}

.header-seven{
	-fx-font-family: "Inter";
	-fx-text-fill: "Black";
	-fx-font-size: 20px;
}

.box-bordered{
	-fx-border-color: "Black"; 
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.box-textField{
	-fx-background-color: transparent;
	-fx-border-color: -fx-dark-primary-color;
	-fx-border-radius: 8px;
}

.line-textField{
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1px 0;
	-fx-border-style: none none solid none;
	-fx-border-color: -fx-dark-primary-color;
	-fx-font-size: 13px;
}

.button-one{
	-fx-background-color: -fx-dark-primary-color;
	-fx-text-fill: "White";
}

.button-one:hover{
	-fx-background-color: -fx-light-primary-color;
	-fx-scale-x: 1.01;
}

.button-two{
	-fx-background-color: -fx-light-primary-color;
	-fx-text-fill: "White";
}

.button-two:hover{
	-fx-background-color: -fx-dark-primary-color;
	-fx-scale-x: 1.01;
}

/*Seller Home Page Styles */

.seller-navigation-header{
	-fx-font-family: "Inter";
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-max-width: 200px;
    -fx-padding: -6px;
}

.seller-navigation-header-2{
	-fx-font-family: "Inter";
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 12px;
    -fx-wrap-text: true;  /* Enables text wrapping */
    -fx-max-width: 200px;
}

.seller-navigation-button{
	-fx-background-color: transparent;
	-fx-border-color: -fx-dark-primary-color;
	-fx-border-radius: 8;
	-fx-background-radius: 8;
}

.seller-navigation-button:hover{
	-fx-background-color: -fx-dark-primary-color;
	-fx-text-fill: white;
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.seller-homepage-header{
	-fx-font-family: "Inter";
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-max-width: 200px;
    -fx-padding: -8px 5px 0px 5px;
}

.seller-homepage-header-2{
	-fx-font-family: "Inter";
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 18px;
    -fx-wrap-text: true;
    -fx-max-width: 200px;
    
}

.dashboard-container{
	-fx-background-color: white;
	-fx-border-color: -fx-secondary-color;
	-fx-border-radius: 8;
	-fx-background-radius: 8;
}

.dashboard-info-container{
	-fx-background-color: white;
	-fx-border-color: -fx-secondary-color;
	-fx-border-radius: 8;
	-fx-background-radius: 8;
}

.product-container{
	-fx-background-color: transparent;
	-fx-border-color: -fx-secondary-color;
}

.status-container{
	-fx-background-color: -fx-light-primary-color;
	-fx-border-color: -fx-light-primary-color;
	-fx-border-radius: 50;
	-fx-background-radius: 50;
}

.status-label{
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

#seed, #loginSeed{
	-fx-text-fill: -fx-dark-primary-color;
}

#sync, #loginSync{
	-fx-text-fill: -fx-light-primary-color;
}

#registrationField{
	-fx-background-color: "White";
	-fx-background-radius: 15px;
}

.box-textField:hover {
    -fx-border-color: -fx-light-primary-color;
    -fx-opacity: 1;
}

.box-textField:focused {
    -fx-border-color: -fx-dark-primary-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 123, 255, 0.5), 10, 0, 0, 0);
}

.line-textField:hover{
	-fx-border-color: -fx-light-primary-color;
    -fx-opacity: 1;
}

.line-textField:focused {
    -fx-border-color: -fx-dark-primary-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 123, 255, 0.5), 10, 0, 0, 0);
}
